* {
  padding: 0%;
  margin: 0%;
}

@font-face {
  font-family: minskrifttype;
  src: url(../video/fonts/SourceSerif4-VariableFont_opsz\wght.woff2) format(woff2);
}

h1 {
  padding: 2%;
  font-family: minskrifttype;
  font-weight: bold;
  font-size: 35x;
  color: dimgray;
  text-align: center;
  margin-bottom: 2%;
}

h2 {
  padding: 2%;
  font-family: minskrifttype;
  color: rgb(0, 74, 139);
  font-size: 28px;
  font-style: bold;
  text-align: center;
}

h3 {
  padding: 2%;
  font-family: minskrifttype;
  color: lightslategray;
  font-size: 25px;
  margin-top: 2%;
}

#baggrund,
p {
  font-family: minskrifttype;
  font-size: 20px;
  font-style: oblique;
  color: white;
  text-align: center;
  padding: 0%;
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  padding: 2%;
  font-family: minskrifttype;
  font-size: 15px;
  color: dimgray;
}

iframe {
  width: 100%;
  height: auto;

  aspect-ratio: 16 / 9;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 5%;
}

#baggrund {
  display: grid;
  place-items: center;
  padding: 0%;
  margin: 0%;
  opacity: 0.8;
}

img,
p {
  grid-area: 1 / 1;
  object-fit: cover;
  margin-bottom: 3%;
}
